header, footer {
    background-color: #a1ffe9;
    font-family: "Malgun Gothic", sans-serif;
}

body {
    background-color: #a4ddd0;
}

.block {
    background-color: #a1ffe9;
    border: 2px solid #09a8a5;
    width: 50%;
    /*height: 25%;*/
    /*position: absolute;*/
    /*left: 25%;*/
    /*top: 37.5%;*/
    text-align: center;
    /*display: flex;*/
    /*Dit zorgt ervoor dat het in het midden staat*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    padding: 8px;
    margin: 0 auto;
}

.datumknop > form {
    /*height: 5%;*/
    /*position: absolute;*/
    /*right: 2.5%;*/
    /*top: 15%;*/
    margin: 0 auto;
    width: 17%;
}

h3 {
    padding-left: 8px;
    text-align: center;
}

#datepicker {
    text-align: center;
}

.datumweetjetext {
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(2deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
