html {
	min-height: 100%;
	position: relative;
}

body {
	animation: mymove 3s ease-out forwards;
	animation-iteration-count: 1;
	background-color: #a4ddd0;
	font-family: Malgun Gothic, sans-serif;
	margin: 0 0 55px;
}

.admincontent table, .admincontent>table>thead>tr>td, .admincontent>table>tbody>tr, table>tbody>tr>td {
	border: 3px solid #09a8a5;
	border-radius: 5px;
	padding: 2px;
}

.admincontainer {
	padding: 0 8px;
}

.adminlinks {
	margin-left: 8px;
}

.header {
	background-color: #a1ffe9;
	height: 90px;
	width: 100%;
}

.jreslogo {
	height: 80px;
	margin: 5px 0 0 10px;
	transition: transform .2s;
	width: 100px;
}

.login {
	float: right;
	height: 45px;
	margin: 22px 30px 0 0;
	width: 54px;
}

.headertext {
	background-color: #33c8c4;
	border: 3px solid #09a8a5;
	border-radius: 8px;
	color: black;
	float: right;
	font-family: Malgun Gothic, sans-serif;
	font-size: 18px;
	margin: 25px 13px 0 0;
	padding: 4px;
	/*max-width: 10%;*/
	/*width: 7%;*/
	text-align: center;
	text-decoration: none;
	transition: .5s;
}

.headertext>a {
	color: black;
	text-decoration: none;
}

.headertext:hover {
	transform: scale(1.1);
}

.datum {
	background-color: #33c8c4;
	border: 3px solid #09a8a5;
	border-radius: 3px;
	float: left;
	font-family: Malgun Gothic, sans-serif;
	font-style: italic;
	height: 40px;
	line-height: 40px;
	margin-left: 80px;
	margin-top: 22px;
	max-width: 20%;
	text-align: center;
	width: 400px;
}

.topimg {
	float: left;
}

.headtext {
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-name: wiggle;
	animation-timing-function: ease-in-out;
	font-family: Malgun Gothic, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.headweetje {
	animation: fadein 2s;
	border: 3px solid black;
	border-radius: 5px;
	font-family: Malgun Gothic, sans-serif;
	font-size: 30px;
	/*animation: type 2s steps(55, end);*/
	font-style: italic;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 70%;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.nav>a {
	color: #ffffff;
	font-family: Malgun Gothic, sans-serif;
	font-style: italic;
	margin-right: 10px;
	text-decoration: none;
}

.nav {
	background-color: #33c8c4;
	border-bottom: 3px solid #09a8a5;
	border-top: 3px solid #09a8a5;
	box-shadow: 0 2px 2px 1px #70b3dd;
	font-weight: bold;
	padding: 3px;
	text-align: center;
	transition: transform .2s;
}

footer {
	background-color: #a1ffe9;
	border-top: 3px solid #09a8a5;
	bottom: 0;
	font-family: Malgun Gothic, sans-serif;
	height: 55px;
	position: absolute;
	width: 100%;
}

#text_footer {
	float: left;
	padding: 3px 0 2px 8px;
}

#plugins_footer {
	align-items: center;
	display: flex;
	padding: 9px 0 2px 13px;
}

.pluginicons {
	height: 40px;
	margin-right: 5px;
	transition: transform .2s;
}

#text_copyright {
	float: right;
	font-family: Malgun Gothic, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-right: 8px;
	margin-top: -38px;
}

.adminnav>ul {
	list-style-type: none;
}

.adminnav>ul>li>a {
	text-decoration: none;
}

#sf_form_fieldset {
	background-color: #33c8c4;
	border: 3px solid #09a8a5;
	border-radius: 5px;
	margin: 0 auto;
	padding: 25px;
	width: 60%;
}

#sf_text {
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-name: wiggle;
	animation-timing-function: ease-in-out;
	font-family: Malgun Gothic, sans-serif;
	font-size: 160%;
	font-weight: bold;
	text-align: center;
}

#sf_submit_button {
	background-color: #a1ffe9;
	border: 2px solid #09a8a5;
	border-radius: 5px;
	cursor: pointer;
	font-family: Malgun Gothic, sans-serif;
	font-size: 100%;
	padding: 1%;
	text-align: center;
	width: 80%;
}

#sf_submit_button:hover {
	background-color: #33c8c4;
}

.linkscss {
	color: black;
	display: inline-block;
	font-family: Malgun Gothic, sans-serif;
	margin-right: 17px;
	text-decoration: none;
	transition: transform .2s;
}

.linkscss:hover {
	transform: scale(1.1);
}

.pluginicons:hover {
	transform: scale(1.1);
}

.jreslogo:hover {
	transform: scale(1.1);
}

.linkscss>a {
	color: white;
	text-decoration: none;
}

@keyframes type {
	from {
		width: 110px;
	}
	to {
		width: 70%;
	}
}

@keyframes mymove {
	from {
		top: 0;
		/*opacity: 0;*/
	}
	to {
		top: 200px;
		/*opacity: 1;*/
	}
}

#sf_elementscontainer {
	text-align: center;
}

#sf_elementscontainer>input[type=email] {
	width: 79%;
}

#sf_elementscontainer>input[type=text] {
	background-color: #a1ffe9;
	border: 2px solid #09a8a5;
	padding: 5px 10px 5px 10px;
	text-align: center;
	width: 77%;
}

#inlogfieldset {
	background-color: grey;
	margin: 5% 30%;
	width: 40%;
}

#inlogformulier {
	height: 69.5%;
	text-align: center;
}

#log_in_h3 {
	color: mediumspringgreen;
	font-family: Arial, sans-serif;
}

#inloggenbutton {
	background-color: white;
	border: 1px solid blue;
	box-sizing: border-box;
	color: blue;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 100%;
	margin-left: 35%;
	padding: 1%;
	text-align: center;
	width: 16%;
}

#registrerenbutton {
	background-color: white;
	border: 1px solid blue;
	box-sizing: border-box;
	color: blue;
	cursor: pointer;
	display: inline-block;
	float: inherit;
	font-size: 100%;
	margin-right: 32%;
	padding: 1%;
	text-align: center;
	width: 16%;
}

#inloggenbutton:hover {
	background-color: lime;
	opacity: 0.5;
}

#registrerenbutton:hover {
	background-color: lime;
	opacity: 0.5;
}

.registform {
	border: 3px solid #09a8a5;
	border-radius: 5px;
	left: 17%;
	margin-left: -130px;
	margin-top: -80px;
	padding: 30px;
	position: fixed;
	text-align: center;
	top: 44%;
	width: 80%;
}

.registform>input[type=text], input[type=password] {
	width: 30%;
}

.registform>input[type=submit] {
	width: 20%;
}

input[type=text] {
	background-color: #09a8a5;
	border: 2px solid #a1ffe9;
	padding: 5px 10px 5px 10px;
	/*width: 30%;*/
}

input[type=password] {
	background-color: #09a8a5;
	border: 2px solid #a1ffe9;
	padding: 5px 10px 5px 10px;
	/*width: 30%;*/
}

input[type=submit] {
	background-color: #a1ffe9;
	border: 2px solid #09a8a5;
	/*width: 32.2%;*/
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	transition: color .1s ease-out, background 1s ease-in;
}

.registtext {
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-name: wiggle;
	animation-timing-function: ease-in-out;
	font-size: 24px;
	font-weight: bold;
	margin-top: 7px;
	text-align: center;
}

input[type=submit]:hover {
	background-color: #6ef2b8;
}

textarea {
	background-color: #a1ffe9;
	border: 2px solid #09a8a5;
	text-align: center;
	width: 79%;
}

input[type=email] {
	background-color: #a1ffe9;
	border: 2px solid #09a8a5;
	padding: 6px 0 6px 0;
	/*width: 79%;*/
	text-align: center;
}

@keyframes wiggle {
	0% {
		transform: rotate(2deg);
	}
	25% {
		transform: rotate(-3deg);
	}
	50% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.inlogform {
	margin-top: 30px;
	text-align: center;
}

.inlogform>input[type=text], .inlogform>input[type=password], .inlogform>input[type=submit] {
	width: 25%;
}

.inlogform>input[type=submit] {
	width: 20%;
}

.inlogtext {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#errorUser {
	color: red;
	display: none;
	font-size: 10px;
	font-style: italic;
	margin-bottom: 6px;
	margin-top: 2px;
}

#username {
	margin-bottom: 14px;
}

.geenblogtxt {
	text-align: center;
}

table.blueTable {
	background-color: #EEEEEE;
	border-bottom: 2px solid #1C6EA4;
	border-collapse: collapse;
	border-top: 2px solid #1C6EA4;
	text-align: left;
	width: 100%;
}

table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.blueTable tbody td {
	font-size: 13px;
}

table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}

table.blueTable thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
}

table.blueTable thead th {
	border-left: 1px solid #AAAAAA;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold
}

table.blueTable thead th:first-child {
	border-left: none;
}

table.blueTable tfoot {
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

table.blueTable tfoot td {
	font-size: 14px;
}

table.blueTable tfoot .links {
	text-align: right;
}

table.blueTable tfoot .links a {
	background: #1C6EA4;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	padding: 2px 8px;
}

.img_addordelete {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	display: inline-block;
	height: 50px;
	transform: perspective(1px) translateZ(0);
	transition-duration: 0.5s;
	vertical-align: middle;
}

.img_addordelete:hover {
	transform: scale(1.2);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#tempDeleteText {
	width: auto;
}

.tabelverwijderen {
	text-align: center;
}

.formaanpassen {
	text-align: center;
}

.aangepast {
	color: darkred;
	text-align: center;
}

.toggleForm {
	margin: 8px 8px;
}